.suggestion {
  /* border: 1px solid black; */
}
.suggestion p {
  padding: 5px 0px;
  margin: 0px;
  color: #676565;
  font-size: 14px;
}

.suggestion:hover {
  font-weight: 500;
  cursor: pointer;
}
